#user-pages {
    .pages li {
        width: 14px;
        height: 14px;
        margin: auto;
        text-indent: auto;
        border-radius: none;
        cursor: pointer;
        overflow: auto;
        background: inherit;
        box-shadow: none;
    }
}