section#new-novel
    .container.new-novel
        .wrap
            .handle
                .mousearea
            #basic.frame
                .slider-01.clearfix
                    include single-item.pug
                    include single-item.pug
                    include single-item.pug
                    include single-item.pug
                    include single-item.pug
                    include single-item.pug
                    include single-item.pug
                    include single-item.pug
                    include single-item.pug
                    include single-item.pug
                    include single-item.pug
            .pages