.single-item
    .novel-title
        img(src="https://placeholdit.imgix.net/~text?txtsize=14&txt=150%C3%97220&w=150&h=220", alt="")
        h4.title.is-4 Title
    .novel-rating
        img(src="./img/neutral.svg", alt="Neutral")
        a(href="www.google.com/ncr")
            h4.title.is-4 Rating #[span#rating 3.5]
    .novel-genres
        span Mecha,
        span Slice of Life,
        br
        span Automata,
        span Shonen