<!DOCTYPE HTML>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        link(rel="stylesheet", href="./css/main.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab")
        link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    body
        block main
        block scripts
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
            script(src="./js/app.js")