section#book.push-top-md
    .container#book-container
        .columns
            .column.is-two-thirds
                .book-wrap
                    .book-title
                        h4 Murdering Heaven Edge
                    .book-tabs
                    .column
                        .tabs(data-bulma='tabs')
                            ul
                                li.is-active
                                    a(data-tab='#tab1') Table of Content
                                li
                                    a(data-tab='#tab2') Translators
                                li
                                    a(data-tab='#tab3') Blog
                    .columns
                        .column
                        section#tab1.section.section-book
                            .columns.book-columns.is-multiline
                                .column.is-3
                                    .novel-image
                                        img(src="https://placeholdit.imgix.net/~text?txtsize=33&txt=200%C3%97310&w=200&h=310", alt="")
                                        .novel-cta
                                            a.button.is-primary.novel-btn #[i.ion-ios-plus-outline] Add to Favorites
                                .column.is-9
                                    .novel-text
                                        .rating
                                            span #[i.ion-ios-star] #[i.ion-ios-star] #[i.ion-ios-star] #[i.ion-ios-star-outline] #[i.ion-ios-star-outline] Rating 3.3
                                            img(src="./img/neutral.svg", alt="")
                                        .info
                                            ul
                                                li Type: #[span Chinese novel]
                                                li Associated Names: #[span MHE,Thí Thiên Nhận,弑天刃] 
                                                li Author: #[span Sharp Knife 小刀锋利]
                                                li Original Publisher: #[span Qidian]
                                                li Year: #[span 2014]
                                                li Total Chapters: #[span 1909]
                                                li Status: #[span Ongoing]
                                .column.is-12
                                    .additional-info
                                        .description
                                            h4 Description:
                                            p
                                                |In a tyrannical world, what is evil? What is benevolence? All living creatures are brutal. 
                                                |Passing through the heaven road to find one’s purpose in life. Struggles to be stronger is
                                                | not an easy path. The whole journey thistles and thorns, one blade chops open a path, I 
                                                |alone will be supreme!
                                        .translate-note
                                            h4 Translators Note:
                                            p 
                                                |This novel is sponsored by Kitsune.club 4 regular chapters/month More chapters if we will find 
                                                |more translators, editors and translation checkers. Join by contacting Kitsune on chat in the 
                                                |right corner.
                                        .latest-post
                                            h4 Latest posts from novels blog:
                                            .post
                                                .post-title
                                                    a Recruting
                                                .post-body
                                                    .date
                                                        span #[i.ion-ios-calendar] Date: 01.04.2017
                                                    .author
                                                        span #[i.ion-person] Author: #[a(href="") Daniel]
                                                    .comments-post-body
                                                        span #[i.ion-chatbox-working]Comments: 0
                                .column.is-12
                                    .chapter-list
                                        h4 Chapter List
                                        .admin-panel
                                            a.button.is-info #[i.ion-android-add]Add Chapter
                                            a.button.is-info #[i.ion-arrow-swap]Change Chapter Order
                                            a.button.is-info #[i.ion-gear-b]Edit Novel
                                            a.button.is-info #[i.ion-person-stalker]Premissions
                                            
                                        table.block#chapters.table.is-striped
                                            thead
                                                tr
                                                    th.title-table-chapter Title
                                                    th.th-status(title="Status set by Moderators") Status
                                                    th.th-date(title="Date when chapter was added") Date
                                                    th.th-ready(title="Fragments translated / total. Hover your mouse over the numbers to learn Pluralism factor, the average amount of translation of one fragment.") Ready
                                                    th(title="Download") #[i.ion-android-download]
                                            tbody.table-body
                                                tr#chapter-1
                                                    td.chapter-title 143
                                                    td.state Ready
                                                    td.date-added(title="09 окт. 2016 г., 14:18") 01.03.2017
                                                    td.completion(title="Total Completion 96/100") 100% (65/65) #[a.button.is-primary.read-btn Read]
                                                    td
                                                        input#download-1.checkbox(name="Download chapter #1" type="checkbox")
                                                        label(for="download-1")
                                                tr#chapter-1
                                                    td.chapter-title 143
                                                    td.state Ready
                                                    td.date-added(title="09 окт. 2016 г., 14:18") 01.03.2017
                                                    td.completion(title="Total Completion 96/100") 100% (65/65) #[a.button.is-primary.read-btn Read]
                                                    td
                                                        input#download-1.checkbox(name="Download chapter #1" type="checkbox")
                                                        label(for="download-1")
                                                tr#chapter-1
                                                    td.chapter-title 143
                                                    td.state Ready
                                                    td.date-added(title="09 окт. 2016 г., 14:18") 01.03.2017
                                                    td.completion(title="Total Completion 96/100") 100% (65/65) #[a.button.is-primary.read-btn Read]
                                                    td
                                                        input#download-1.checkbox(name="Download chapter #1" type="checkbox")
                                                        label(for="download-1")
                                                tr#chapter-1
                                                    td.chapter-title 143
                                                    td.state Ready
                                                    td.date-added(title="09 окт. 2016 г., 14:18") 01.03.2017
                                                    td.completion(title="Total Completion 96/100") 100% (65/65) #[a.button.is-primary.read-btn Read]
                                                    td
                                                        input#download-1.checkbox(name="Download chapter #1" type="checkbox")
                                                        label(for="download-1")
                                                tr#chapter-1
                                                    td.chapter-title 143
                                                    td.state Ready
                                                    td.date-added(title="09 окт. 2016 г., 14:18") 01.03.2017
                                                    td.completion(title="Total Completion 96/100") 100% (65/65) #[a.button.is-primary.read-btn Read]
                                                    td
                                                        input#download-1.checkbox(name="Download chapter #1" type="checkbox")
                                                        label(for="download-1")
                                    .table-cta-btn
                                        a.button.is-primary.read-btn #[i.ion-android-download] Download PDF
                                        a.button.is-primary.read-btn #[i.ion-android-download]Download DOC
                                .column.is-12
                                    .comments
                                        h4 Comments: 3
                                        article.media
                                            figure.media-left
                                                p.image.is-64x64
                                                    img(src="http://bulma.io/images/placeholders/128x128.png", alt="")
                                            .media-content
                                                .field
                                                    p.control
                                                        textarea.textarea(cols="30", rows="10" placeholder="Add a comment...")
                                                nav.level
                                                    .level-left
                                                        .level-item
                                                            a.button.is-info #[i.ion-ios-paperplane] Submit
                                    .comment-list
                                        article.media.single-comment
                                            figure.media-left
                                                p.image.is-64x64
                                                    img(src="http://bulma.io/images/placeholders/128x128.png", alt="")
                                            .media-content
                                                .content
                                                    p
                                                        strong Madox
                                                        br
                                                        |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
                                                        br
                                                        |  
                                                        small
                                                        a Like
                                                        |  &middot; 
                                                        a Reply
                                                        |  &middot; 3 hrs
                                        article.media.single-comment
                                            figure.media-left
                                                p.image.is-64x64
                                                    img(src="http://bulma.io/images/placeholders/128x128.png", alt="")
                                            .media-content
                                                .content
                                                    p
                                                        strong Madox
                                                        br
                                                        |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
                                                        br
                                                        |  
                                                        small
                                                        a Like
                                                        |  &middot; 
                                                        a Reply
                                                        |  &middot; 3 hrs
                                        article.media.single-comment
                                            figure.media-left
                                                p.image.is-64x64
                                                    img(src="http://bulma.io/images/placeholders/128x128.png", alt="")
                                            .media-content
                                                .content
                                                    p
                                                        strong Madox
                                                        br
                                                        |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
                                                        br
                                                        |  
                                                        small
                                                        a Like
                                                        |  &middot; 
                                                        a Reply
                                                        |  &middot; 3 hrs

                        section#tab2.section
                            .translators-table
                                table.table.is-bordered.is-striped.is-narrow
                                    thead
                                        tr
                                            th
                                                abbr(title='Rank') #
                                            th 
                                                abbr(title='User') Username
                                            th.versions-translated
                                                abbr(title='Versions') Versions Translated
                                            th.rating-table
                                                abbr(title='Rating for Current Translation') Rating
                                            th.rating-global
                                                abbr(title='Global Average Rating') Average Rating
                                    tbody
                                        tr
                                            th 1
                                            td Daniel #[span.owner (Owner)]
                                            td.versions-translated 193
                                            td.rating-table 4.2
                                            td.rating-global 3.8
                                        tr
                                            th 2
                                            td Napredak #[span.moderator (Moderator)]
                                            td.versions-translated 193
                                            td.rating-table 4.2
                                            td.rating-global 3.8
                                        tr
                                            th 3
                                            td Progres
                                            td.versions-translated 193
                                            td.rating-table 4.2
                                            td.rating-global 3.8
                                        tr
                                            th 4
                                            td Pravda
                                            td.versions-translated 193
                                            td.rating-table 4.2
                                            td.rating-global 3.8
                                        tr
                                            th 5
                                            td Mir
                                            td.versions-translated 193
                                            td.rating-table 4.2
                                            td.rating-global 3.8
                                        tr
                                            th 6
                                            td Rad
                                            td.versions-translated 193
                                            td.rating-table 4.2
                                            td.rating-global 3.8
                                        tr
                                            th 7
                                            td Eta
                                            td.versions-translated 193
                                            td.rating-table 4.2
                                            td.rating-global 3.8
                                        tr
                                            th 8
                                            td Madox
                                            td.versions-translated 193
                                            td.rating-table 4.2
                                            td.rating-global 3.8
                            a.button.is-primary Join
                        section#tab3.section
                            .book-blog
                                h4 Latest Discussion related to: Murdering Heaven Edge
                                .disscusion-body
                                    .disscusion-list
                                        include ../comments-disscusion/single-disscusion.pug
                                        include ../comments-disscusion/single-disscusion.pug
                                        include ../comments-disscusion/single-disscusion.pug
                                        include ../comments-disscusion/single-disscusion.pug
                                        include ../comments-disscusion/single-disscusion.pug
                                        include ../comments-disscusion/single-disscusion.pug
                                        include ../comments-disscusion/single-disscusion.pug
                                        
            .column.is-one-third#side-info
                .side-info.section
                    h1 Information about the translation
                    .translation-Status
                        h4.title-1 Translation Status:
                        h4.title-1-desc Ongoing
                    .created
                        h4.title-1 Created:
                        h4.title-1-desc 01.03.2017, Owner: Daniel 
                    .views
                        h4.title-1 Views:
                        h4.title-1-desc 2492
                    .genres
                        h4.title-1 Genre:
                        .genre-cat
                            a(href="") Romance,
                            a(href="") Action,
                            a(href="") Martial Arts,
                            a(href="") Martial Arts,
                            a(href="") Martial Arts
                    .personal-status
                        h4.title-1 Your Status
                        h4.title-1-desc You are not a member of the translation group.
                        a.button.is-primary Join
                    .thank-author
                        h4 Thank Translator
                        .field
                        p.control
                            input.input.is-small(type='text', placeholder='0$')
                            a.button.is-primary #[i.ion-android-send]Send
