extends ./views/partials/layout.pug

block main
    include ./views/partials/navigation.pug
    include ./views/new-novles/new-novles.pug
    include ./views/new-translated/new-translated.pug
    include ./views/comments-disscusion/comments-disscusion.pug
    include ./views/partials/footer.pug