extends ./views/partials/layout.pug

block main
    include ./views/partials/navigation.pug
    #footer-sticky-bot
        include ./views/users/users.pug
    include ./views/partials/footer-fixed.pug