.single-novel
    .novel-content
        .novel-img
            img(src="https://placeholdit.imgix.net/~text?txtsize=14&txt=129%C3%97184&w=129&h=184", alt="")
            .rating
                img(src="./img/smile.svg", alt="")
                span Rating 3.5
        .novel-title
            h4 HardGuy's Bizarre Adventure
            .genre
                a(href="#") Adventure
                a(href="#") Comedy
                a(href="#") Life
        .novel-description
            p
                | If you are fed up with protagonist who reincarnated by accident, and coincidently become the
                | savior or conqueror of another world, here comes another choice - A passionate adventurer who
                | struggled to live for nothing more than a sole wish: to explore and enjoy the view that no one 
                |has seen before.