section#new-translated
    .container
        h4.section-info New Updates
        .columns.is-gapless.is-multiline.new-translated-body
            include single-translated.pug
            include single-translated.pug
            include single-translated.pug
            include single-translated.pug
            include single-translated.pug
            include single-translated.pug
            include single-translated.pug
            include single-translated.pug
            include single-translated.pug
            include single-translated.pug
            