.column.is-half
    .single-update
        .top-info
            .info-top-left
                img(src="./img/user.jpg", alt="#")
                a(href="#") Mindfreaks
                span translated
            .info-top-right 27.03.2017
        .content
            .content-cover
                img(src="https://placeholdit.imgix.net/~text?txtsize=14&txt=129%C3%97184&w=129&h=184", alt="#")
            .content-description
                .content-description-title My Life
                .content-description-part Vol 1. Chapter 10
            .content-rating
                .rating
                    .rating-emoji
                        img(src="./img/sad.svg", alt="#")
                    .rating-description Rating 3.5