section#comments-disscussions
    .container
        .columns.is-multiline
            .column.is-half
                h4.section-info.push-top-md Latest Comments
                .comment-body
                    .comment-list
                        include single-comment.pug
                        include single-comment.pug
                        include single-comment.pug
                        include single-comment.pug
                        include single-comment.pug
                        include single-comment.pug
                        include single-comment.pug
            .column.is-half
                h4.section-info.push-top-md Latest Disscusions
                .disscusion-body
                    .disscusion-list
                        include single-disscusion.pug
                        include single-disscusion.pug
                        include single-disscusion.pug
                        include single-disscusion.pug
                        include single-disscusion.pug
                        include single-disscusion.pug
                        include single-disscusion.pug
                        
