.disscusion-comment
    .disscusion-comment-img
        img(src="./img/user.jpg", alt="User")
    .disscusion-comment-name
        a WBT
    .disscusion-comment-rating
        span.rating-up  23.6.2017