.single-comment
    .single-comment-img
        img(src="./img/user.jpg", alt="User")
    .single-comment-name
        a This is that long dark comment after coffe.
        .single-comment-detail
            a Author: #[span#author WBT]  In: #[span#novel Havens Sword of Ligth]
