section#add-novel.push-top-md
    .container.section
        .field.is-horizontal
        .field-label.is-normal
            label.label Subject
        .field-body
            .field
            .control
                input.input.is-danger(type='text', placeholder='e.g. Partnership opportunity')
            p.help.is-danger  This field is required